input.product-checkbox {
  display: none;
}

label.label-product {
  background: gold;
  margin-left: 0px;
}

label.label-product:hover {
  background-color: goldenrod;
  margin-left: 0px;
}

div.views-view-grid {
  padding: 20px;
}

label.remove-product {
  background: steelblue;
  color: white;
  margin-left: 0px;
}

label.remove-product:hover {
  background-color: slateblue;
  color: white;
  margin-left: 0px;
}

button.button-hidden {
  display: none;
}

div.cart-block {
  display: flex;
  flex-flow: column;
  align-items: center;
}

button#button-checkout-block {
  width: 50%;
}

#span-checkout-block::after {
  content: attr(data-content);
  color: red;
  font-size: 2em;
  position: relative;
  bottom: 10px;
}
